.footer__column-link {
  padding-left: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  opacity: 0.5;
  transition: opacity 2s ease;
}
